[Desktop Entry]
Type=Application
Name=KVision
GenericName=Video streams viewer
GenericName[ru]=Просмотрщик video streams
Comment=Viewer and mounter video streams
Comment[ru]=Просмотрщик и компоновщик видеопотоков
Icon=kvision
Exec=kvision
Terminal=false
Categories=Qt;AudioVideo;Video;Viewer;
Keywords=cctv;viewer;live streaming;kvision;
StartupWMClass=kvision
